.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "open sans";
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;   
}
.titulo{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*header*/
header{
    width: 100%;
    height: 600px;
    background: #38a0cd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, hsla(104, 100%, 5%, 0.524), hsla(178, 58%, 48%, 0.61)), url(../img/portada.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(104, 100%, 5%, 0.524), hsla(178, 58%, 48%, 0.61)), url(../img/portada.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav >a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav >a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: white;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*SOBRE NOSOTROS*/

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-sobre-nosotros{
    width: 48%;
}
.sobre-nosotros .contenido-textos{
    width: 48%;    
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #38a0cd;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;   
    height: 30px; 
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*galeria*/
.portafolio{
    background: #f2f2f2;
}
.galeria-portafolio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-portafolio{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(140, 192, 222);
}
.imagen-portafolio > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{ 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1);
    background: hsla(178, 48%, 58%, 0.61);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria{
    width: 50px;
}
.hover-galeria p{
    color: white;
}
.imagen-portafolio:hover .hover-galeria{
    transform: scale(0);
}
/*clientes*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #38a0cd;
    display: flex;
    width: 95%;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(150, 222, 140, .5);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black ;
    border-radius: 50%;
    display: block;
}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #ffffff;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*team*/
.sobre-servicios{
    background: white;
    padding-bottom: 30px;
}
.servicio-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-indentificador{
    width: 28%;
    text-align: center;
}
.servicio-indentificador img {
    width: 90%;
}
.servicio-indentificador h3{
    margin: 10px 0;
}
.servicio-indentificador p{
    text-align: justify;
    font-weight: 300;
}
/*footer*/
footer{
    background: #38a0cd;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #f2f2f2;
}
.contenido-footer{
    text-align: center;
}
.contenido-footer h4{
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.contenido-footer p{
    color: #f2f2f2;
}
.titulo-final{
    text-align: center;
    font-size: 24px 20px 0 0;
    color: aliceblue;
}