body{
    margin: 0;
    padding: 0;
    background: url(../img/registro/registrofondo2.png)no-repeat center top;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    height: 100vh;
}
.registro-box{
    width: 320px;
    height: 520px;
    opacity:  0.9;
    color:white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 80px white;
    border-radius: 8px;
    box-sizing: border-box;
    padding-inline-start: 70px 70px;
}
.registro-box .logoregistro{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.registro-box .formresgistro{
    padding: 0px;
    margin: 0px;
    padding-left: 30px;
}
.registro-box h1{
    margin: 0;
    padding: 40px;
    font-weight: 22px;
    text-align: center;
}
.registro-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display:contents;
}
.registro-box input{
    width: 80%;
    margin-bottom: 20px;
    padding-left: 20px;
}
.registro-box input[type="text"],
.registro-box input[type="password"]{
    border: none;
    border-bottom: 2px solid white;
    background: black;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.boton{
    background-color: whitesmoke;
    text-align: center;
    width: 88% !important;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 20px;
    font-size: 20px;
    color: blue;
    border: none;
    outline: none;
}
